/* .room-container {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.room-setting {
    border: 2px solid black;
    width: 40%;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
} */

.room-form {
    width: 35%;
    text-align: center;
}

.room-theme {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    width: 25%;
    font-size: 18px;
    margin-right: 5px;
}

.room-input {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    height: 35px;
}

.room-button {
    border-radius: 10px;
	border: 1px solid #15cda8;
	background-color: #15cda8;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	outline: none;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}


/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; 
}

.custom-dropdown select {
  background-color: #1abc9c;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em; 
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; 
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { 
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}

/* Create-room toggle css */  
  .square {
    width: .7em;
    height: .7em;
    margin: .5em;
    display: inline-block;
  }
  
  .custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px; /* demo only */
  }
  
  .custom-dropdown select {
    background-color: #1abc9c;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em; 
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
  }
  
  .custom-dropdown::before,
  .custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }
  
  .custom-dropdown::after { 
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
  }
  
  .custom-dropdown::before {
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
  }
  
  .custom-dropdown select[disabled] {
    color: rgba(0,0,0,.3);
  }
  
  .custom-dropdown select[disabled]::after {
    color: rgba(0,0,0,.1);
  }
  
  .custom-dropdown::before {
    background-color: rgba(0,0,0,.15);
  }
  
  .custom-dropdown::after {
    color: rgba(0,0,0,.4);
  }




  /* <div class="form-container sign-in-container">
  <form action="#">
    <h1 class="login-h1">Room Settings</h1>
    <span class="login-span">Create your own game!</span>
    <input type="theme" id="theme" placeholder="Game Theme" />
    <a class="login-a" href="#" class="forgot-password">
      Forgot your password?
    </a>
    <button class="login-button" type="submit">
      Sign In
    </button>
  </form>
</div> */
