* {
  font-family: "Ubuntu", sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-logo {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 23px;
  padding: 7px;
  font-weight: 500;
  border-radius: 15px;
}

#lobby-navbar-logo a {
  background-color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Modal Css*/
.bg-modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100%;
}

.modal-contents {
  margin: auto;
  margin-top: 3%;
  height: 500px;
  width: 1000px;
  background-color: #dedede;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 300px;
  position: relative;
  border-radius: 4px;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 15px;
}

.modal-contents-room {
  margin: auto;
  margin-top: 10%;
  height: 400px;
  width: 500px;
  background-color: #dedede;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 150px;
  position: relative;
  border-radius: 4px;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 15px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* CSS For login/register */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#room-header {
  font-weight: 500;
}

.nav-signup-button {
  width: 105px;
  height: 40px;
  font-size: 20px;
  border: none;
}

.nav-signup-button:hover {
  font-size: 21px;
  background-color: #1abc9c;
  border: none;
}

button.banner-button-banner {
  width: 15vw;
}

.banner-button:hover {
  border-color: #1abc9c;
  background-color: #1abc9c;
}

p.jumbotron-p {
  color: white;
  font-size: 2vw;
  font-weight: 500;
  width: 45vw;
}

.banner-extra {
  margin-top: -1%;
  font-size: 1.8vw;
}

input.room-theme {
  text-align: center;
  border: 3px solid black;
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
}

form.create-room-setting {
  padding-top: 0px;
  background-color: #dedede;
}

button.close-button {
  float: right;
  margin-right: 20px;
  width: 30px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* CSS for Game(room) */
.game-number {
  color: white;
  font-size: 18px;
}

.game-theme {
  color: white;
  font-size: 30px;
}

.game-nav-button {
  background-color: #1abc9c;
  width: 120px; 
  height: 45px;
  font-size: 16px;
}

.game-nav-button:hover {
  font-size: 18px;
  background-color: #1abc9c;
}

.gameroom-info {
  display: flex;
  justify-content: space-around;
  width: 40vw;
  padding-top: 4vw !important;
}

.game-round, .game-player {
  color: white;
  font-size: 1.2vw;
}

/* CSS for cards! (QuestionerDeck.jsx, AnswererDeck.jsx) */
/* Questioner Section  */
.deckCard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 8px;
  height: 210px;
  width: 160px !important;
  animation-name: animatetop;
  animation-duration: 0.2s;
  cursor: pointer;
}

.ingame-room {
  width: 100%;
}

.questioner {
  width: 950px;
  padding-top: 200px;
  margin-top: 200px;
  border: 5px solid black !important;
  background-color: #EEE;
}

.questioner-content-card {
  display: flex;
  justify-content: center;
}

.game-card-logo {
  font-size: 25px;
}

.game-card-body {
  padding: 5px;
}

.questioner-header {
  font-weight: 900;
}

.questioner-container {
  display: flex;
  justify-content: center;
}

/* Gamestatus Section */
.game-status-message {
  padding-top: 0.5vw;
  font-size: 20px;
}

.status-message {
  padding-top: 1%;
  width: 70vw;
  display: flex;
  justify-content: space-around;
}

.game-status-button {
  background-color: #1abc9c;
  border: none;
  width: 12vw; 
  height: 45px;
  font-size: 18px;
}

.game-status-button:hover {
  background-color: #1abc9c;
  border: none;
  font-size: 21px;
}

/* Answerer's Section */
.answerers {
  width: 950px;
  padding-top: 200px;
  margin-top: 200px;
  border: 5px solid black !important;
  background-color: #EEE;
}

div.answerer-card-section {
    display: flex;
  justify-content: center;
}

.answerer-card-container {
  display: flex;
  justify-content: center;
}

.answerer-header {
  font-weight: 900;
}

.answerer-status {
  font-weight: 900;
  font-size: 15px;
}

.answerer-ID {
  font-weight: 900;
  padding: none;
}

img.answerer-img {
  width: 8.1vw !important;
  height: 8.1vw !important;
  margin-left: 0.6vw;
}

/* In game before the game starts */
.player-name-section {
  padding-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 10vw !important;
  margin-right: 0.5vw;
}

.player-status-section {
  padding-top: 8px;
  display: flex;
  justify-content: center;
  border: 2px solid;
  border-radius: 5px;
  width: 9vw;
  margin-left: 0vw;
}

.answerer-status-section {
  font-weight: 900;
}


@media screen and (min-width: 1350px) {
  /* Nav Section */
  .gameroom-info {
    padding-top: 2.8vw !important;
  }

  button.game-nav-button {
    width: 9vw;
    height: 5vh;
    font-size: 1.2vw;
  }

  button.game-nav-button:hover {
    font-size: 1.35vw;
  }

  h6.game-round, h6.game-player {
    font-size: 1.2vw;
  }

  /* Questioner Section */
  h6.game-number {
    font-size: 1vw;
  }

  div.questioner {
    width: 70vw;
    height: 40vh;
  }

  div.game-card-logo {
    font-size: 2vw;
    font-weight: 900;
  }

  h4.questioner-header {
    font-size: 2vw;
  }

  div.questioncards, div.answer-card {
    width: 13vw !important;
    height: 30vh;
  }

  .player-status-section {
    margin-left: 0.6vw;
  }

  /* Status Section */
  h6.game-status-message {
    font-size: 1.4vw;
  }

  button.game-status-button {
    border: none;
    width: 10vw; 
    height: 6vh;
    margin-top: -2%;
    margin-left: -1.5vw;
    margin-bottom: 3%;
    font-size: 1.3vw;
  }
  
  button.game-status-button:hover {
    font-size: 1.4vw;
  }

  /* Answerer Section */
  div.answerers {
    width: 70vw;
    height: 40vh;
  }

  h4.answerer-header {
    font-size: 2vw;
  }

  div.deckCardBeforeStart {
    width: 13vw !important;
    height: 30vh;
    display: flex;
    justify-content: center;
  }

  img.answerer-img {
    width: 8vw !important;
    height: 8vw !important;
    margin-left: 1.2vw;
  }

  h6.answerer-ID {
    font-size: 1.2vw;
  }

  div.player-status-section {
    border: 3px solid black;
  }

  h6.answerer-status-section {
    font-size: 1.5vw;
  }

  h6.answerer-status1 {
    font-size: 1.15vw;
  }

  h6.answerer-status2 {
    font-size: 1.5vw;
  }

  div.cardDeck-container {
    margin-left: -2%;
  }

  /* Chat-history-bar */
  div.chat-history-bar {
    margin-left: 71vw;
    width: 25vw;
    margin-top: calc(100vh - 190.5vh);
  }

  div.history-border {
    height: 15vw;
  }

  h5.history-header {
    font-size: 1.8vw;
  }

  div.history-border {
    height: 29.5vh; 
    padding-left: 2vw;
  }

  div.history-box {
    width: 9vw;
    height: 21vh;
  }

  div.chat-box {
    height: 58vh;
  }

  div.score-board {
    height: 18vh;
  }

  h6.score-title {
    font-size: 1.2vw;
  }

  h6.player-name {
    font-size: 0.8vw;
  }

  h5.chat-header {
    font-size: 1.8vw;
  }

  div.incoming-msg {
    height: 26vh;
    padding-top: 0.5vw;
  }

  input.write_msg {
    width: 18vw;
    height: 4.5vh;
    font-size: 1.2vw;
  }

  button.chat-button {
    width: 3.5vw;
    height: 3.8vh;
  }

  /* Answerers Card Section */
  div.answerer-answer {
    width: 12.3vw !important;
    height: 28vh;
  }

  div.card-text {
    font-size: 1.3vw;
    font-weight: 500;
  }
}

/* Chat-history section */
.chat-history-bar {
  margin-top: -694px;
  margin-left: 75vw;
  width: 310px; 
}

.chat-form {
  width: 24vw;
  display: flex;
  flex-direction: row;
  background-color: #eee;
  padding: 0.2vw;
}

.history-header {
  font-weight: 900;
}

.history-border {
  margin-bottom: 10px;
  border: 5px solid black !important;
  background-color: #EEE;
}

.history-box {
  border-radius: 5px;
  border: 1px solid;
  width: 130px;
  padding: 10px;
  margin: 5px;
  margin-left: 10px;
  height: 170px;
  margin-bottom: 10px;
  margin-top: -10px;
}

.history-question {
  background-color: black;
  color: white;
  border: none;
}

.answer-question {
  background-color: white;
}

.chat-box {
  border-radius: 5px;
  border: 5px solid black;
  height: 430px;
  background-color: #EEE;
  overflow: hidden;
}

p.chat-message {
  margin-left: 0.5vw;
  font-size: 1vw;
}

.incoming-msg {
  height: 18vh;
  border: 5px solid black;
  border-radius: 5px;
  background-color: white;
  overflow: scroll;
}

.chat-button {
  height: 4.5vh !important;
  width: 5vw !important;
  font-size: 1.2vw;
  margin-left: 2%;
}

/* On mouse-over, add a deeper shadow */
.deckCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: white;
  background-color: #1abc9c;
}

/* Add some padding inside the card container */
.cardContainer {
  padding: 1px 2px;
  
}

.questioncards {
  background-color: black;
  color: white;
}

.answer-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.answerers-cards {
  overflow-x: scroll;
  padding-bottom: 1.5em;
  margin-bottom: -20px;
}

.player-answer-cards {
  display: flex !important;
  justify-content: center !important;
}

.play-card-button {
  /* margin-left: 55vw;
  margin-top: -40px; */
  width: 195px;
}

.write_msg {
  width: 193px;
}

.nav-bar-in-game {
  height: 80px;
  background-color: #343a40;
}

h6.game-logged-ID {
  color: white;
  font-size: 1.2vw;
  margin: none;
  padding: none;
}

.history-border {
  border-radius: 5px;
  border: 1px solid;
}

.deckCardBeforeStart {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 8px;
  height: 210px;
  width: 160px !important;
  animation-name: animatetop;
  animation-duration: 0.2s;
  cursor: pointer;
}

.deckCardBeforeStartQ {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 8px;
  height: 210px;
  width: 160px !important;
  animation-name: animatetop;
  animation-duration: 0.2s;
}

.card-img {
  padding-top: -20px;
}

/* Gameroom in lobby */
div.grid {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
}

div.gameroom {
  height: 335px;
  width: 350px;
  margin: 1%;
  border-radius: 20px;
  border: 3.1px solid black;
}

h1.gameroom-theme:hover {
  color: white;
}

div.gameLobbyContainer {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-left: 5%;
}

#gameroom-card-header {
  background-color: #eaeaea;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

button.sign-up-button {
  background-color: #15cda8;
}

button.create-room-button {
  background-color: #15cda8;
  width: 140px;
  height: 50px;
  font-size: 15px;
}

.lobby-nav-container {
  width: 40vw;
  display: flex;
  justify-content: space-around;
}

button.create-room-button:hover {
  background-color: #15cda8;
  width: 140px;
  height: 50px;
  font-size: 17px;
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

.custom-dropdown select {
  background-color: #1abc9c;
  color: #fff;
  font-size: inherit;
  padding: 0.5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: "";
  -webkit-appearance: button;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after {
  content: "\25BC";
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
}

.custom-dropdown::before {
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0, 0, 0, 0.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0, 0, 0, 0.1);
}

.custom-dropdown::before {
  background-color: rgba(0, 0, 0, 0.15);
}

.custom-dropdown::after {
  color: rgba(0, 0, 0, 0.4);
}

/* Homepage Banner */
div.jumbotron {
  background-image: url("https://images.pexels.com/photos/37547/suit-business-man-business-man-37547.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  max-width: 100%;
  height: 400px;
}

h1.jumbotron-h1 {
  color: white;
  font-size: 6vw;
  font-weight: 500;
}

h3.banner-blah {
  font-size: 1.2vw;
}

@media screen and (max-width: 765px) {
  div.option-section {
    text-align: center;
  }
}

@media screen and (min-width: 1350px) {
  /* Navigation */
  div.home-nav {
    height: 5vw;
  }

  a.navbar-logo {
    font-size: 1.5vw;
  }

  a.navbar-a {
    font-size: 1.2vw;
  }

  button.nav-signup-button {
    width: 7vw;
    height: 5vh;
    font-size: 1.2vw;
    border: none;
    margin-top: -2%;
  }

  button.nav-signup-button:hover {
    font-size: 1.3vw;
    background-color: #1abc9c;
    border: none;
  }

  button.create-room-button {
    width: 10vw !important;
    font-size: 1.2vw;
    border: none;
    
  }

  button.create-room-button:hover {
    background-color: #1abc9c;
    font-size: 1.3vw;
    border: none;
  }

  /* Banner  */
  div.jumbotron {
    height: 65vh;
  }

  div.banner-container {
    max-width: 100vw;
    margin: 3%;
  }

  h1.jumbotron-h1 {
    font-size: 6vw;
    font-weight: 500;
  }

  p.jumbotron-p {
    font-size: 2vw;
  }

  button.banner-button {
    width: 12vw;
    height: 3vw;
    font-size: 1.2vw;
  }

  span.banner-button {
    width: 12vw;
    height: 3vw;
    padding-top: 0.5vw;
    font-size: 1.2vw;
  }

  /* Option */
  h2.option-header {
    font-size: 3vw;
  }

  p.option-p {
    font-size: 1.4vw;
  }

  div.option-container {
    max-width: 100vw;
  }

  div.option-row {
    margin: 3%;
  }
}

/* Lobby-gameroom */
@media screen and (max-width: 790px) {
  div.grid {
    justify-content: center;
  }
}

@media screen and (min-width: 1350px) {
  div.gameroom {
    height: 25vw;
    width: 25vw;
  }

  h4.gameroom-header {
    font-size: 2vw;
    font-weight: 500;
  }

  h5.gameroom-player-number {
    font-size: 1.5vw;
  } 

  div.gameLobbyContainer {
    margin-left: 7%;
  }

  button.gameroom-button {
    height: 10vw;
  }

  #gameroom-button.btn.btn-lg {
    height: 10vw !important;
  }

  h1.gameroom-theme {
    font-size: 3vw;
  }

  div.gameroom-status {
    height: 3vw;
    margin-top: 3%;
    font-size: 1.4vw;
  }
}


/* score board */
.player-name {
  margin-top: -5px;
  font-size: 13px;
  -webkit-animation: fadein 2s;
  font-weight: 500;
}

@-webkit-keyframes fadein {
  from { opacity: 0; color: #15cda8}
  to   { opacity: 1; }
}

.score-board {
  border-radius: 5px;
  border: 5px solid black;
  padding: 5%;
  margin: 1%;
  background-color: white;
  height: 140px;
}

.score-title {
  margin-bottom: -10px;
  font-weight: 900;
}



