@media screen and (min-width: 1350px) {
    /* Nav Section */
    button.game-nav-button {
      width: 9vw;
      height: 5vh;
      font-size: 1.2vw;
    }
  
    button.game-nav-button:hover {
      width: 9vw;
      height: 5vh;
      font-size: 1.35vw;
    }
  
    h6.game-round, h6.game-player {
      font-size: 1vw;
    }
    
  
    /* Questioner Section */
    h6.game-number {
      font-size: 1vw;
    }
  
    div.questioner {
      width: 70vw;
      height: 40vh;
    }
  
    div.game-card-logo {
      font-size: 2vw;
      font-weight: 900;
    }
  
    h4.questioner-header {
      font-size: 2vw;
    }
  
    div.questioncards {
      width: 13vw !important;
      height: 30vh;
    }
  
    /* Status Section */
    h6.game-status-message {
      font-size: 1.7vw;
    }
  
    button.game-status-button {
      border: none;
      width: 14vw; 
      height: 6vh;
      margin-top: -2%;
      margin-left: -2.5vw;
      margin-bottom: 3%;
      font-size: 1.3vw;
    }
    
    button.game-status-button:hover {
      font-size: 1.4vw;
    }
  
    /* Answerer Section */
    div.answerers {
      width: 70vw;
      height: 40vh;
    }
  
    h4.answerer-header {
      font-size: 2vw;
    }
  
    div.deckCardBeforeStart {
      width: 13vw !important;
      height: 30vh;
      display: flex;
      justify-content: center;
    }
  
    img.card-img {
      width: 8vw !important;
      height: 8vw !important;
    }
  
    h6.answerer-ID {
      font-size: 1.2vw;
    }
  
    div.player-status-section {
      border: 3px solid black;
    }
  
    h6.answerer-status-section {
      font-size: 1.5vw;
    }
  
    h6.answerer-status1 {
      font-size: 1.2vw;
    }
  
    h6.answerer-status2 {
      font-size: 1.5vw;
    }
  
    div.cardDeck-container {
      margin-left: -2%;
      border: 3px solid red;
    }
  
    /* Chat-history-bar */
    div.chat-history-bar {
      margin-left: 71vw;
      width: 25vw;
      margin-top: 5px;
    }
  
    div.history-border {
      height: 15vw;
      
    }
  }